<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                    <form #f="ngForm" (ngSubmit)="onClickMe(f)" role="form">
                                 
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first"  (keyup)="onKey($event)" ngModel  #first="ngModel"  value="username" placeholder="Username " required> 
                                                                
                        </div>
                       
                        <!----div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="email" (keyup)="onKey($event)" ngModel #email="ngModel"  value="email"  placeholder="Email" required>
                        </div>
                        <p>{{values}}</p> 
                            
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="pwd" (keyup)="onKey($event)" type="password" ngModel value="password"  placeholder="password" required>
                        </div>
                         <p>{{values}}</p---> 

                        
                                
                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <button id="submit" (click)="onClickMe()" class="btn btn-info"><i class="icon-hand-right"></i> Sign In</button>
                                {{clickMessage}}
                               
                            </div> 
                            <p>{{values}}</p>  
                        </form>     
                    </div>                     
                </div>  
            </div>
        </div>